header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    text-align: center;
}

header.index {
    background-color:aquamarine;
}

header h1 {
    font-family: 'Prompt', sans-serif;
    font-size: 250%;
}