
header.index {
    background-color:aquamarine;
}

header h1 {
    font-family: 'Suez One', serif;;
    font-size: 350%;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    text-align: center;
}

textarea {
    width: 90%;
    
}

.container {
    max-width: 75%;
    margin: auto;
    padding: 30px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.card {
    box-shadow: 0px 0px 15px gray;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.card-index {
    background-color: antiquewhite;
    width: 50%;
}

form {

    width: 90%;

}

.banner {
    height: 100vh;
    position: fixed;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 8%;
}